@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed&display=swap');

/* 
  Generic styling
*/
* {
  margin: 0;
  padding: 0;
  border: none;
  box-sizing: border-box;
}

:root {
  /* Initialise gloabl vars */

  --bg-colour: #076314; /* background colour */
  --text-font-family: "Roboto Condensed", sans-serif; /* Fallbacks: Arial, Helvetica, sans-serif */
  --card-font-family: "Roboto Slab", serif;  /* Fallbacks: Georgia, Times, serif */
  --card-back-colour: rgb(0, 0, 255); /* playing card reverse */
}

html {
  /* Set root font-size to 10px so that 1rem becomes 10px  */
  font-size: 62.5%;
}

body {
  background-color: var(--bg-colour);
  font-size: 1.6rem;
  font-family: var(--text-font-family, Arial, Helvetica, sans-serif);
}

h1 {
  color: black;
  text-shadow: white 0px 0px 3px; /* color offset-x offset-y blur-radius */
  text-align: center;
}

footer {
  height: 4rem;
  align-items: center;
}

.btn {
  background-color: yellowgreen;
  border: 2px solid black;
  border-radius: 4px;
  font-family: inherit;
  height: 4rem;
  margin: 0rem 1.5rem;
  min-width: 8rem;
  text-align: center;
}

#btn-play{
  display: block;
}
#btn-settings{
  display: none;

}
#btn-about{
  display: none;
}

#btn-hit {
  display: none;
}

#btn-deal {
  display: none;
}

#btn-stay {
  display: none;
}

#btn-again{
  display: none;
}


/* 
* Global colour styles
*/
.score-colour {
  font-size: x-large;
  color: white;
  text-shadow: black 0px 0px 4px; /* color offset-x offset-y blur-radius */
}

.msg-text {
  font-size: large;
  color: white;
  text-shadow: black 0px 0px 4px; /* color offset-x offset-y blur-radius */  
  /* color: #fff;
  text-shadow: 1px 0 0 #000, 0 -1px 0 #000, 0 1px 0 #000, -1px 0 0 #000; */
}

/* 
  Main game area containers
*/
#outer-container {
  width: 100%;
  height: 90vh;
}

#lhs-container {
  width: 20%;
}

#centre-container {
  width: 60%;
}

#rhs-container {
  width: 20%
}

#player0, #player1 {
  border: 1px solid purple; /* temp */
  height: 30%;
  width: 100%;
  align-items: center;
  justify-content: flex-start;
}

#status {
  border: 1px solid purple; /* temp */
  height: 4rem;
  width: 100%;
}

#bet {
  border: 1px solid purple; /* temp */
  height: 4rem;
  width: 100%;
}

#controls-section {
  height: 10%;
  width: 100%;
}

#player-pot {
  height: 50%;
}

#score0, #score1 {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 30%;
}

/* 
  Flexbox container styles for row & column
*/
.flex-row {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.flex-col {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.flex-jc-fe {
  justify-content: flex-end;
}

.flex-jc-sb {
  justify-content: space-between;
}

.flex-ai-c {
  align-items: center;
}

/* 
  Playing card styling
*/
.card {
  height: 9rem;
  width: 6rem;
  background-color: white;
  border: 1px solid black;
  border-radius: 6px;
  color: black;
  font-family: var(--card-font-family, Georgia, Times, serif);
  font-size: 2rem;
}

.card-back {
  height: 9rem;
  width: 6rem;
  background-color: var(--card-back-colour);
  border: .35rem solid white;
  border-radius: 6px;
  color: var(--card-back-colour);
  font-size: 2rem;
}

.red-suit {
  color: red;
}

.card-rank {
  padding: 0px 4px;
}

.card-suit {
  padding: 0px 2px;
}

.suit-big {
  line-height: 6rem;
  font-size: 4.5rem;
  padding: 0px 4px;
}

/* 
  Chip styling
*/
.chip {
  background-color: white;
  border: 7px dashed;
  border-radius: 50%;
  height: 5rem;
  margin: 4px;
  text-align: center;
  width: 5rem;
}

.chip-10 {
  border-color: blue;
}
.chip-20 {
  border-color: grey;
}
.chip-50 {
  border-color: orange;
}
.chip-100 {
  border-color: black;
}

#stack {
  padding-top: 1rem;
}
